<div class="row">
	<div class="small-12 columns">
        <h1>Style Guide</h1>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div class="panel">
			This is a panel with background and border
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<hr />
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div class="md-card">
			<div class="row">
				<div class="small-12 columns">
					<h5 class="text-headline">Cards & Drag</h5>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<ul class="small-block-grid-2 medium-block-grid-3" id="doc-sortable">
						<li>
							<div class="row">
								<div class="small-12 columns">
									<div class="md-card button-drag">
										<div class="md-card-menu text-right">
											<a class="md-card-menu-dropdown" aria-expanded="false" data-dropdown="doc-picker-1" href="#"><i class="fa fa-ellipsis-v"></i></a>
											<ul id="doc-picker-1" class="f-dropdown">
												<li>
													<a href="#"><i class="fa fa-edit"></i>Edit</a>
												</li>
												<li>
													<a href="#"><i class="fa fa-trash"></i>Delete</a>
												</li>
											</ul>
										</div>
										<div class="md-card-body active">
											<div class="row md-card-image">
												<div class="small-12 columns text-center">
													<div class="v-align-container" style="height: 100px;">
														<div class="v-align-content" style="height: 100px;">
															<img src="http://placehold.it/100x100&text=picture">
														</div>
													</div>
												</div>
											</div>
											<div class="row md-card-description">
												<div class="small-12 columns">
													<p>Description 1</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="small-12 columns">
									<div class="md-card button-drag">
										<div class="md-card-menu text-right">
											<a class="md-card-menu-dropdown" aria-expanded="false" data-dropdown="doc-picker-2" href="#"><i class="fa fa-ellipsis-v"></i></a>
											<ul id="doc-picker-2" class="f-dropdown">
												<li>
													<a href="#"><i class="fa fa-edit"></i>Edit</a>
												</li>
												<li>
													<a href="#"><i class="fa fa-trash"></i>Delete</a>
												</li>
											</ul>
										</div>
										<div class="md-card-body">
											<div class="row md-card-image">
												<div class="small-12 columns text-center">
													<div class="v-align-container" style="height: 100px;">
														<div class="v-align-content" style="height: 100px;">
															<img src="http://placehold.it/100x100&text=picture">
														</div>
													</div>
												</div>
											</div>
											<div class="row md-card-description">
												<div class="small-12 columns">
													<p>Description 2</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="row">
								<div class="small-12 columns">
									<div class="md-card button-drag">
										<div class="md-card-menu text-right">
											<a class="md-card-menu-dropdown" aria-expanded="false" data-dropdown="doc-picker-3" href="#"><i class="fa fa-ellipsis-v"></i></a>
											<ul id="doc-picker-3" class="f-dropdown">
												<li>
													<a href="#"><i class="fa fa-edit"></i>Edit</a>
												</li>
												<li>
													<a href="#"><i class="fa fa-trash"></i>Delete</a>
												</li>
											</ul>
										</div>
										<div class="md-card-body">
											<div class="row md-card-image">
												<div class="small-12 columns text-center">
													<div class="v-align-container" style="height: 100px;">
														<div class="v-align-content" style="height: 100px;">
															<img src="http://placehold.it/100x100&text=picture">
														</div>
													</div>
												</div>
											</div>
											<div class="row md-card-description">
												<div class="small-12 columns">
													<p>Description 3</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="small-12 columns">
		<hr />
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div class="md-card">
			<div class="row">
				<div class="small-12 columns">
					<h5 class="text-headline">Icons</h5>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<i class="fa fa-save"></i>
					<i class="fa fa-ambulance"></i>
					<i class="fa fa-microphone"></i>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<hr />
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div class="md-card">
			<div class="row">
				<div class="small-12 columns">
					<h5 class="text-headline">Tabs</h5>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<dl class="tabs" data-tab>
						<dd class="active"><a href="#panel1" class="ink ink-color">NO. 1</a></dd>
						<dd><a href="#panel2" class="ink ink-color">ITEM TWO</a></dd>
						<dd><a href="#panel3" class="ink ink-color">ITEM THIRD</a></dd>
						<dd><a href="#panel4" class="ink ink-color">ITEM FOURTH</a></dd>
					</dl>
					<div class="tabs-content">
						<div class="content active" id="panel1">
							<p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
						</div>
						<div class="content" id="panel2">
							<p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
						</div>
						<div class="content" id="panel3">
							<p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
						</div>
						<div class="content" id="panel4">
							<p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<hr />
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div class="md-card">
			<div class="row">
				<div class="small-12 columns">
					<h5 class="text-headline">Tipography</h5>
				</div>
			</div>
			<div class="row">
				<div class="small-12 medium-6 columns">
					<h1 class="text-display-4">Display 4</h1>
					<h2 class="text-display-3">Display 3</h2>
					<h3 class="text-display-2">Display 2</h3>
					<h4 class="text-display-1">Display 1</h4>
				</div>
				<div class="small-12 medium-6 columns">
					<h5 class="text-headline">Headline</h5>
					<p class="text-title">Title</p>
					<p class="text-subhead">Subhead</p>
					<p class="text-body-2">Body 2</p>
					<p class="text-body-1">Body 1</p>
					<p class="text-caption">Caption</p>
					<p class="text-menu">Menu</p>
					<p class="text-button">Button</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<hr />
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div class="md-card">
			<div class="row">
				<div class="small-12 columns">
					<h5 class="text-headline">Input, Select, Textarea</h5>
				</div>
			</div>
			<form id="doc-form" data-abide>
				<div class="row">
					<div class="small-12 columns">
						<input type="text" placeholder="small-12.columns" required />
						<label>Input Label</label>
						<small class="error">This input is required</small>
					</div>
				</div>
				<div class="row">
					<div class="small-4 medium-4 columns">
						<input type="text" placeholder="small-4.columns" />
						<label>Input Label</label>
					</div>
					<div class="small-4 medium-4 columns">
						<input type="text" placeholder="small-4.columns" />
						<label>Input Label</label>
					</div>
					<div class="small-4 medium-4 columns">
						<div class="row collapse">
							<div class="small-9 columns">
								<input type="text" placeholder="small-9.columns" />
								<label>Input Label</label>
							</div>
							<div class="small-3 columns">
								<span class="postfix">.com</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<select>
							<option value="husker">Husker</option>
							<option value="starbuck">Starbuck</option>
							<option value="hotdog">Hot Dog</option>
							<option value="apollo">Apollo</option>
						</select>
						<label>Select Box</label>
					</div>
				</div>
				<div class="row">
					<div class="small-12 columns">
						<textarea placeholder="small-12.columns"></textarea>
						<label>Textarea Label</label>
					</div>
				</div>
				<div class="row form-buttons">
					<div class="small-4 columns text-left">
						<a href="#" class="js-confirm"><i class="fa fa-trash"></i></a>
					</div>
					<div class="small-8 columns text-right">
						<a class="flat-button ink secondary">Cancel</a>
						<button class="raised-button ink right" type="submit">Save</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<hr />
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div class="md-card">
			<div class="row">
				<div class="small-12 columns">
					<h5 class="text-headline">Buttons</h5>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<a class="raised-button ink">Raised Button</a>
					<a class="flat-button ink">Flat Button</a>
					<a class="disabled-button">Disabled Button</a>
					<a data-tooltip aria-haspopup="true" class="raised-button ink" title="Tooltips Text">
						Button with a tooltip
					</a>
					<a href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="raised-button ink">Menu</a>
					<ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
						<li><a href="#">Home</a></li>
						<li><a href="#">Back</a></li>
						<li><a href="#">Foreward</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<hr />
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div class="md-card">
			<div class="row">
				<div class="small-12 columns">
					<h5 class="text-headline">Radio, Checkbox & Switch</h5>
				</div>
			</div>
			<div class="row">
				<div class="small-4 columns">
					<div class="row">
						<div class="small-6 columns">
							<div class="md-radio">
								<input id="doc-radio1" type="radio" value="Red" name="pokemon" checked >
								<label for="doc-radio1">Radio</label>
							</div>
						</div>
						<div class="small-6 columns">
							<div class="md-radio">
								<input id="doc-radio2" type="radio" value="Blue" name="pokemon">
								<label for="doc-radio2">Radio With Text Large</label>
							</div>
						</div>
					</div>
				</div>
				<div class="small-4 columns">
					<div class="row">
						<div class="small-6 columns">
							<div class="md-checkbox">
								<input id="doc-checkbox1" type="checkbox" value="1" checked>
								<label for="doc-checkbox1">Checkbox</label>
							</div>
						</div>
						<div class="small-6 columns">
							<div class="md-checkbox">
								<input id="doc-checkbox2" type="checkbox" value="2">
								<label for="doc-checkbox2">Checkbox With Large Text and <a href="#">link</a></label>
							</div>
						</div>
					</div>
				</div>
				<div class="small-4 columns">
					<div class="switch">
						<div class="clearfix">
							<div class="left">
								<span>Switch</span>
							</div>
							<div class="right">
								<input id="doc-switch" type="checkbox" value="1">
								<label for="doc-switch"></label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="small-12 columns">
					<h5 class="text-headline">Disabled & Checked</h5>
				</div>
			</div>
			<div class="row">
				<div class="small-4 columns">
					<div class="row">
						<div class="small-6 columns">
							<div class="md-radio">
								<input id="doc-radio3" type="radio" value="Red" name="pokemon" checked disabled>
								<label for="doc-radio3">Checked</label>
							</div>
						</div>
						<div class="small-6 columns">
							<div class="md-radio">
								<input id="doc-radio4" type="radio" value="Blue" name="pokemon" disabled>
								<label for="doc-radio4">Disabled</label>
							</div>
						</div>
					</div>
				</div>
				<div class="small-4 columns">
					<div class="row">
						<div class="small-6 columns">
							<div class="md-checkbox">
								<input id="doc-checkbox3" type="checkbox" checked disabled>
								<label for="doc-checkbox3">Checked</label>
							</div>
						</div>
						<div class="small-6 columns">
							<div class="md-checkbox">
								<input id="doc-checkbox4" type="checkbox" disabled>
								<label for="doc-checkbox4">Disabled</label>
							</div>
						</div>
					</div>
				</div>
				<div class="small-4 columns">
					<div class="switch">
						<div class="clearfix">
							<div class="left">
								<span>Disabled</span>
							</div>
							<div class="right">
								<input id="doc-switch2" type="checkbox" value="1" disabled checked>
								<label for="doc-switch2"></label>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>


<div class="row">
	<div class="small-12 columns">
		<hr />
	</div>
</div>

<div class="row">
	<div class="small-12 columns">
		<div class="md-card">
			<div class="row">
				<div class="small-12 columns">
					<h5 class="text-headline">File Upload</h5>
				</div>
			</div>
			<form>

				<div class="row file-upload" data-icon="fa-cloud-upload" data-text="Upload New">
					<div class="small-12 columns">
						<div class="file-upload-title">
							<div class="row">
								<div class="small-8 columns text-left">
									<label>Background Image</label>
								</div>
								<div class="small-4 columns text-right">
									<a class="right" href="#">
										<i class="fa fa-trash"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="file-upload-drag">
							<div class="row">
								<div class="small-11 small-centered columns">
									<div class="row file-upload-image">
										<div class="smal-12 columns text-center">
											<div class="v-align-container" style="height: 100px;">
												<div class="v-align-content" style="height: 100px;">
													<img src="http://placehold.it/300x100&text=IMAGE">
												</div>
											</div>
											<input type="hidden" name="name_input_db" value="">
										</div>
									</div>
									<div class="row file-upload-button">
										<div class="small-12 columns text-center file-upload-input">
											<button class="button"><i class="fa fa-cloud-upload"></i>Upload New</button>
											<input id="doc_image" name="doc_image" type="file" class="js-upload" data-url="/styleguide/upload/doc_image/" data-input="name_input_db" accept="image/*"  />
										</div>
										<div class="small-12 columns text-center file-upload-processing">
											<button class="button"><i class="fa fa-cloud-upload"></i>Uploading</button>
										</div>
									</div>
									<div class="row file-upload-progress">
										<div class="small-12 columns text-center">
											<div class="row progress-info">
												<div class="small-12 small-centered columns">
													<div class="progress">
														<span class="meter barra meter-custom" style="width: 5%;"><div class="meter-animation"></div></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>



<div class="row">
	<div class="small-12 columns">
		<hr />
	</div>
</div>