//Imports and modules
@import "modules";

//Imports global fonts
@import "components/fonts";

//Fonts
$roboto:			'Roboto', sans-serif;

//Custom Colors
$black:				 #242424;

// Material Design - Components
@import
  "md/components/tabs",
  "md/components/form",
  "md/components/cards",
  "md/components/buttons",
  "md/components/menus",
  "md/components/top-bars",
  "md/components/text-fields",
  "md/components/switches",
  "md/components/tooltips",
  "md/components/summary";

//Imports custom components
@import "components/alert";
@import "components/utility";
@import "components/fonts";
@import "components/upload";


//Import pages
@import "pages/home";

//Global Style
@media #{$small-up} {
    body {
        font-family: $roboto;
    }
}

@media #{$medium-up} {
    body {

    }
}

@media #{$large-up} {
    body {

    }
}

