//Imports and modules
@import "modules";

//Imports global fonts
@import "components/fonts";

//Fonts
$open-sans:         'Open Sans', sans-serif;
$oswald:            'Oswald', sans-serif;

//Custom Colors
$black:				 #242424;

//Imports custom components
@import "components/alert";
@import "components/utility";


//Import pages
@import "pages/home";

//Global Style
@media #{$small-up} {
    body {
        font-family: $open-sans;
    }
}

@media #{$medium-up} {
    body {

    }
}

@media #{$large-up} {
    body {

    }
}

