@media #{$small-up} {
    $progress_height:   7px;
    @-webkit-keyframes progress {
        to {
            background-position: $progress_height 0;
        }
    }
    @-moz-keyframes progress {
        to {
            background-position: $progress_height 0;
        }
    }
    @keyframes progress {
        to {
            background-position: $progress_height 0;
        }
    }
    body {
		form {

			/************
			FILE UPLOAD
			*************/
			.file-upload {

				padding-bottom: 1em;
				padding-top: 1em;

				.file-upload-title {
					a {
						i {
							color: $primary-color;
						}
					}
				}

				.file-upload-drag {
					background: #efefef;
					padding-top: 15px;
					padding-bottom: 10px;
				}

				&.hover {
					background: none;
					.file-upload-drag {
						background: #f2f2f2;
						-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
						-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
						box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.3);
					}
				}
				&.fade {
					background: none;
					.file-upload-drag {
						-webkit-transition: all 0.3s ease-out;
						-moz-transition: all 0.3s ease-out;
						-ms-transition: all 0.3s ease-out;
						-o-transition: all 0.3s ease-out;
						transition: all 0.3s ease-out;
						opacity: 1;
					}
				}

				.file-upload-image {
					.v-align-container, .v-align-content {
						height: 100px;
						img {
							max-height: 100px;
							max-width: 435px;

						}
					}
				}

                .file-upload-button {
                    height: 57px;
                    .button {
                        width: 100%;
                        margin-left: -1px;
                        margin-top: 15px;
						margin-bottom: 0px;
                        cursor: pointer !important;
                        line-height: 0.1 !important;
						border: 1px dashed #B3B3B3;
						background-color: #E7E7E7;
						font-size: 0.875rem;
						color: $primary-color;
						padding: 0.5rem 1.25rem;
                        &.button-link {
                            padding: 0px !important;
                            text-decoration: underline;
                            background: none !important;
                            text-transform: none !important;
                            color: #666;
                            &:hover {
                                color: #000;
                            }
                        }
                        i {
                            padding-right: 5px;
							vertical-align: middle;
                        }
                    }
                    input {
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin: 0;
                        opacity: 0;
                        -ms-filter: 'alpha(opacity=0)';
                        font-size: 1.125rem;
                        direction: ltr;
                        cursor: pointer;
                    }
					.file-upload-processing {
						display: none;
						.button {
							color: $primary-color;
							i {
								color: $primary-color;
							}
						}
					}
                }


				.file-upload-uploading {
					.file-upload-input {
						display: none;
						input {
							visibility: hidden;
							pointer-events: none;
						}
					}
					.file-upload-processing {
						display: block;
					}
				}

				.file-upload-progress {
					top: -8px;
					position: relative;
					display: none;
					.progress {
						height: $progress_height;
						border: 1px solid #e7e7e7;
						padding: 0px;
						margin: 0px;
						background: transparent;
						.meter {
							-webkit-transition:width 0.7s ease;
							-moz-transition:width 0.7s ease;
							transition:width 0.7s ease;
							background: $primary-color;
							.meter-animation {
								width: 100%;
								height: 100%;
								-webkit-animation: progress 1s linear infinite;
								-moz-animation: progress 1s linear infinite;
								animation: progress 1s linear infinite;
								background-repeat: repeat-x;
								background-size: $progress_height $progress_height;
								background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
								background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
							}
						}
					}
				}

            }
		}
    }
}
